@charset "utf-8";
/* CSS Document */

body {
	background-image: url(backgrounds/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;

}

#map {
        height: 330px;
        width: 330px;
      }

#containerDiv {
    box-shadow:0 1px 2px #aaa;
    margin:0 1rem 1rem;
    border-radius:3px;
	position: absolute;
    background-color: white;
	left:182px;
	top:100px;
	width:1002px;
	height:100%;
	z-index:0;
    min-height: 1200px;
    overflow: hidden;
}
.apDiv1 {
	position:absolute;
	left:0px;
	top:0px;
	width:1366px;
	height:1500px;
	z-index:1;
	background-image: url(backgrounds/crayons%20right%20size.jpg);
}
.apDiv2 {
	position:absolute;
	left:182px;
	top:161px;
	width:1002px;
	height:1087px;
	z-index:2;
	background-color: #FFFFFF;
	
}
.slideshowDiv {
	width:1002px;
	height:302px;
	z-index:3;
	color: #666;
	background-color: #666666;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.dropdownDiv {
	width:100%;
	height:70px;
	z-index:16;
	background-color: #666666;
}
.apDiv5 {
	position: absolute;
	left: 847px;
	top: 521px;
	width: 341px;
	height: 648px;
	z-index: 5;
}
.apDiv2 p {
	text-align: justify;
	font-size: 18px;
	
}

a {
    color: black; 
}

a:visited {
    color: black;
}

#apDiv14 {
	position: absolute;
	left: 244px;
	top: 775px;
	width: 512px;
	height: 240px;
	z-index: 18;
}
#apDiv15 {
	position: absolute;
	left: 245px;
	top: 1039px;
	width: 582px;
	height: 1100px;
	z-index: 19;
}
#apDiv16 {
	position: absolute;
	left: 452px;
	top: 1140px;
	width: 144px;
	height: 28px;
	z-index: 19;
	font-weight: bold;
	font-size: 18px;
}
#apDiv17 {
	position: absolute;
	left: 350px;
	top: 738px;
	width: 299px;
	height: 27px;
	z-index: 20;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
#apDiv18 {
	position: absolute;
	left: 293px;
	top: 1026px;
	width: 157px;
	height: 24px;
	z-index: 21;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
}
#apDiv19 {
	position: absolute;
	left: 272px;
	top: 1058px;
	width: 236px;
	height: 64px;
	z-index: 22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
}
#apDiv20 {
	position: absolute;
	left: 584px;
	top: 1025px;
	width: 150px;
	height: 26px;
	z-index: 23;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
#apDiv21 {
	position: absolute;
	left: 535px;
	top: 1058px;
	width: 238px;
	height: 62px;
	z-index: 24;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}






#apDiv1 {
	position:absolute;
	left:184px;
	top:12px;
	width:282px;
	height:235px;
	z-index:6;
}

#textContainer {
	width:65%;
	height:100%;
	z-index:7;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
    overflow:hidden;
    float: left;
}
#apDiv3 {
	position: absolute;
	left: 196px;
	top: 538px;
	width: 568px;
	height: 62px;
	z-index: 8;
	font-size: 28px;
	font-weight: bold;
}
#apDiv4 {
	position:absolute;
	left:433px;
	top:40px;
	width:462px;
	height:103px;
	z-index:9;
	font-size: 32px;
}
#bottomRibbon {
	width:100%;
	height:82px;
	z-index:10;
	color: #FFF;
	background-color: #232323;
	text-align: center;
    bottom: 0;
    left: 0;
    position: absolute;
}
#addressDiv {
	width:100%;
    padding: 1px;
	height:77px;
	z-index:11;
	color: #FFF;
	text-align: center;
}
#apDiv7 {
	position:absolute;
	left:857px;
	top:1177px;
	width:329px;
	height:79px;
	z-index:12;
	background-color: #666666;
	color: #FFF;
}
#apDiv8 {
	position:absolute;
	left:885px;
	top:1193px;
	width:210px;
	height:58px;
	z-index:12;
	color: #FFF;
}
#facebookLinkDiv {
	width:341px;
	height:270px;
	z-index:12;
	background-color: #666666;
	visibility: visible;
    padding: 2px;
}
#apDiv10 {
	position:absolute;
	left:1088px;
	top:1083px;
	width:66px;
	height:53px;
	z-index:13;
}

#facebookContainer {
   margin-left: 65%; 
}

#facebookDiv {
    width: 100%;
	height: 400px;
	z-index: 15;
    float: top;
    padding: 2px;
}

.slideshow a#vlb{display:none}#slideshowDiv {
	width:338px;
	height:56px;
	z-index:17;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.linksList {
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 22px;
}